<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd ">

	<!-- 实际开发中建议使用组件扫描 -->
	<!-- 可以扫描controller、service、...这里让扫描controller，指定controller的包 -->
	<context:component-scan base-package="cn.edu.uestc.platform"></context:component-scan>

	<!-- 使用 mvc:annotation-driven代替上边注解映射器和注解适配器配置 比如json转换解析器就默认加载了，如果使用mvc:annotation-driven不用配置上边的RequestMappingHandlerMapping和RequestMappingHandlerAdapter 
		实际开发时使用mvc:annotation-driven -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- json转换器 -->
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 处理静态资源 -->
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/lib/**" location="/lib/" />
	<mvc:resources mapping="/dynamic.html" location="/dynamic.html" />
	<mvc:resources mapping="/index1.html" location="/index1.html" />
	<mvc:resources mapping="/index3.html" location="/index3.html" />
	<mvc:resources mapping="/startDynamic.html" location="/startDynamic.html" />
	<mvc:resources mapping="/detailProject.html" location="/detailProject.html" />
	<mvc:resources mapping="/projectEdit.html" location="/projectEdit.html" />
	<mvc:resources mapping="/nodeEdit.html" location="/nodeEdit.html" />
	<mvc:resources mapping="/linkEdit.html" location="/linkEdit.html" />
	<mvc:resources mapping="/register.html" location="/register.html" />
	<mvc:resources mapping="/innerEdit.html" location="/innerEdit.html" />
	<mvc:resources mapping="/complexNodeEdit.html" location="/complexNodeEdit.html" />
	<mvc:resources mapping="/dockerConsole.html" location="/dockerConsole.html" />
	<mvc:resources mapping="/UpLoadCSV.html" location="/UpLoadCSV.html" />
	<mvc:resources mapping="/dynamicSetting.html" location="/dynamicSetting.html" />



	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>


	<!-- 视图解析器 解析jsp解析，默认使用jstl标签，classpath下的得有jstl的包 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置jsp路径的前缀 -->
		<!-- <property name="prefix" value="/WEB-INF/jsp/" /> --><!-- 注释了沛华之前返回的路径 -->
		<!-- <property name="prefix" value=""></property> -->
		<!-- 配置jsp路径的后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>

</beans>